.wrapper {
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
}

.ingredients {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  min-height: 656px;
  max-height: 656px;
  box-sizing: border-box;
  transition: outline-color 0.3s ease;
}

.ingredientsHover {
  outline: 2px solid rgb(117,38,195);
}

.ingredientsTop {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 0 0 0 32px;
  margin: 0;
  list-style: none;
}

.ingredientsCenter {
  padding: 0;
  overflow-y: scroll;
  margin: 0;
}

.ingredientsBottom {
  margin: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.listElement {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.totalPrice {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  box-sizing: border-box;
  min-height: 64px;
}

.totalPriceText {
  display: flex;
  max-width: 568px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  min-height: 100%;
}